.page {
		flex: 1 1 auto;
		// .page__main

		&__main {
			
		}
		&__aboutme {
		}
		&__services {
		}
		&__price {
		}
		&__works {
		}
}
.box{
	opacity: 0;
			transform: translateY(100px);
			transition: all 0.6s ease-out 0.3s;
			&.show {
				opacity: 1;
				transform: translateY(0);
			}
}
.box-todown{
	opacity: 0;
			transform: translateY(-100px);
			transition: all 0.6s ease-out 0.3s;
			&.show {
				opacity: 1;
				transform: translateY(0);
				.menu-open &{
					height: 100%;
					@media (min-width:$mobile){
						height: auto;
					}
				}
			}
}
.box-toright{
	opacity: 0;
			transform: translateX(-200px);
			transition: all 0.6s ease-out 0.3s;
			&.show {
				opacity: 1;
				transform: translateX(0);
			}
}
.box-toleft{
	opacity: 0;
			transform: translateX(200px);
			transition: all 0.6s ease-out 0.3s;
			&.show {
				opacity: 1;
				transform: translateX(0);
			}
}
.title{
	text-decoration: underline;
	text-underline-offset: rem(15);
	text-decoration-thickness: rem(3);
	font-family: "Comfortaa";
	@include adaptiveValue("font-size", 50, 35);
	font-weight: 400;
	@include adaptiveValue("margin-bottom", 60, 40);
	text-shadow: rem(2) rem(2) rem(0) #afaeae;
	@media (max-width:$mobile){
		text-shadow: rem(1.5) rem(1.5) rem(0) #afaeae;
	}
}
.text {
	font-family: "Comfortaa";
	line-height: math.div(35 , 18);
}


//========================================================================================================================================================
.actions {
	display: flex;
		gap: rem(15);
		align-items: center;
		margin-right: rem(10);
		@media (max-width:$tablet){
			gap: rem(10);
		}
		@media (max-width:$mobile){
			flex-direction: row;
			margin-right: rem(0);
		}
		@media (max-width:$mobileSmall){
			gap: rem(10);
		}
}
.action {
	img{
				border-radius: 50%;
				transition: all 0.1s ease 0s;
				box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
				opacity: 1;
			}
			&:active {
				img{
					transform: scale(0.95);
					box-shadow: 0px 0px 5px 1px #512729;
					@media (max-width:$tablet){
						transform: scale(0.95);
					}
				}
			}	
			@media (any-hover: hover){
				&:hover{
					img{
						opacity: 0.8;
				
				}
				}
			}
}
// .action._header-scroll{
// 	img{
// 		transform: scale(0.8);
// 	}
// }

//====Glow-button====================================================================================================================================================

.action-button {
				// margin-right: rem(20);
				display: flex;
				position: relative;
				overflow: hidden;
				// border: rem(1) solid rgba(255, 255, 255, 0.1);
				border-radius: rem(30);
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
				// background-color: rgb(53, 204, 8);
				&:hover::after {
					opacity: 0;
					animation: none;
				}
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					backdrop-filter: blur(25px);
					z-index: 2;
				}
				

				
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: -150%;
					width: 60%;
					height: 100%;
					z-index: 3;
					pointer-events: none;

					
					background: linear-gradient(
						120deg,
						transparent 0%,
						rgba(255,255,255,0.05) 30%,
						rgba(255,255,255,0.6) 50%,
						rgba(255,255,255,0.05) 70%,
						transparent 100%
					);
					transform: skewX(-20deg);
					animation: metalShine 5s ease-in-out infinite;
					animation-delay: 2s;

					opacity: 1;
					transition: opacity 0.3s ease;
				}
				@keyframes metalShine {
					0% {
						left: -150%;
					}
					60% {
						left: 150%;
					}
					100% {
						left: 150%;
					}
				}
				
				


				&__text {
					padding: rem(20) rem(30);
					font-family: $fontFamily;
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 3px;
					font-weight: 700;
					position: relative;
					z-index: 2;
				}
	
				// .button__glow
	
				&__glow {
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
					border-radius: 0 50% ;
				}
		
				// .button__color
	
				&__color {
					position: absolute;
					top: 0;
					left: 0;
					background: linear-gradient( -90deg, red, orange, yellow, green, blue, indigo, violet);
				}
			}

			.ring {
				position: fixed;
				align-items: center;
				justify-content: center;
				bottom:rem(40);
				right: -200px;
				
				z-index: 5;
				border-radius: 50%;
				width: 130px;
				height: 130px;
				// background: linear-gradient(
				// 	145deg,
				// 	#d4af37,
				// 	#ffd700,
				// 	#b8962e
				// );

				background: linear-gradient(
					145deg,
					#c0c0c0,
					#e8e8e8,
					#a9a9a9
				);
				@media (max-width:$mobile){
					width: 100px;
					height: 100px;
					bottom:rem(20);
				}
				@media (max-width:$mobileSmall){
					width: 70px;
					height: 70px;
					bottom:rem(20);
				}
				
				&__text {
					color: #512729;
					line-height: 130%;
					text-align: center;
					@media (max-width:$mobile){
						font-size: rem(10);
					}
					@media (max-width:$mobileSmall){
						font-size: rem(8); 
						line-height: 150%;
					}
				}
				// .show{
				// 	right: 50px;
				// }
				transition: all 0.5s ease 0s;
			}
			.ring.show{
				right: 50px;
				@media (max-width:$mobile){
					right: 20px; 
				}
			}

//=========================================================================================
// .title {
// 	font-weight: 600;
// 	line-height: math.div(65 , 70);
// 	font-size: rem(70);
// 	color: #fff;
// 	@include adaptiveValue("font-size", 70, 45);
// 	&_s64{
// 		@include adaptiveValue("font-size", 64, 35);
// 	}
// 	&_s56 {
// 		@include adaptiveValue("font-size", 56, 35);
// 	}
// 	span{
// 		// color: $greenColor;
// 	}
// }
//=========================================================================================
// .text{
// 	line-height: 180%;
// }
//=========================================================================================
// .image-block {
// 	align-self: start;
// 	display: flex;
// 	overflow: hidden;
// 	background: rgba(255, 255, 255, 0.05);
// 	border-radius: rem(20);
// 	@include adaptiveValue("padding-top", 165, 30);
// 	@include adaptiveValue("padding-bottom", 165, 30);
// 	@include adaptiveValue("padding-left", 45, 30);
// 	@include adaptiveValue("padding-right", 45, 30);
// 	position: relative;
// 		&__circle {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			@include adaptiveValue("width", 585, 350);
// 			@include adaptiveValue("height", 585, 350);
// 			&::before{
// 				content:'';
// 				position: absolute;
// 				border-radius: 50%;
// 				border: 1px solid rgba(255, 255, 255, 0.37);
// 				width: 100%;
// 				height: 100%;
// 				top: 0;
// 				left: 0;
// 			}
// 			&_1 {
// 				&::before{
// 					content:'';
// 					transform: translate(calc(50% - rem(18)), -20%);
// 				}
// 			}

// 			&_2 {
// 				&::before{
// 					content:'';
// 					transform: translate(calc(50% - rem(20)), -6%);
// 				}
// 			}
// 		}
// 	&__item {
// 		text-align: center;
// 		position: relative;
// 		z-index: 2;
// 		flex: 1 1 100%;
// 		img{
// 			max-width: 100%;
// 			border-radius: rem(20);
// 		}
// 	}
// }
//=========================================================================================