
.main {
	// background: url('../img/main/main-bg.jpg') 50%/ cover no-repeat;
	// width: 100%;
	position: relative;
	// overflow: hidden;
	@include adaptiveValue("min-height",750, 530);
	.bg{
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		}
		// .main__container

		&__container {
			display: flex;
			z-index: 500;
		}

		// .main__content

		&__content {
			flex: 0 1 rem(650);
			@include adaptiveValue("padding-top", 210, 130);
			z-index: 5;
			@media (max-width:$mobileSmall){
				margin-bottom: rem(30);
			}
		}

		// .main__title

		&__title {
			font-family: "Oswald";
			text-shadow: 2px 2px 0px #afaeae;
			font-size: rem(65);
			line-height: math.div(70 , 65);
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: rem(30);
			@media (max-width:$mobile){
				font-size: rem(55);
				line-height: math.div(65 , 55);
			}
			@media (max-width:$mobile){
				font-size: rem(50);
				line-height: math.div(65 , 50);
			}
			@media (max-width: 600px){
				font-size: rem(40);
			}
			@media (max-width:$mobileSmall){
				font-size: rem(34);
				line-height: math.div(40 , 34);
				text-shadow: 1px 1px 0px #afaeae;
			}
		}
		// .main__text

		&__text {
			font-size: rem(20);
			line-height: math.div(30 , 20);
			color: #fff;
			@media (max-width: em(600)){
					font-size: rem(18);
				
			}
			margin-bottom: rem(30);
		}
		

		// .main__actions
		
		&__actions {
			// flex-wrap: wrap;
			@media (max-width:$mobileSmall){
				justify-content: center;
			}
			
		}
	}



//========================================================================================================================================================
.aboutme {
	background-color: #fcf0f0;
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .aboutme__container

		&__container {
		}

		// .aboutme__title

		&__title {
		}

		// .aboutme__content

		&__content {
			display: flex;
			@include adaptiveValue("column-gap", 100, 10);
			@media (max-width:$mobile){
				flex-direction: column;
				row-gap: rem(30);
			}
		}

		// .aboutme__image

		&__image {
			flex: 0 0 40%;
			aspect-ratio: 4/5;
			overflow: hidden;
			border-radius: 30px;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 30px;
			}
		}

		// .aboutme__text

		&__text {
			display: flex;
			flex-direction: column;
			padding-top: rem(30);
			@include adaptiveValue("gap", 50, 20);
			flex: 1 1 auto;
			min-width: 0;
			font-weight: 700;
			@media (max-width:$mobileSmall){
				font-size: rem(16);
			}
		}

		// .aboutme__actions
}

//========================================================================================================================================================
.services {
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .services__container

		&__container {
			
		}

		// .services__title

		&__title {
		}

		// .services__swiper

		&__swiper {
		}

		// .services__swiper-wrapper

		&__swiper-wrapper {
		}

		// .services__swiper-slide

		&__swiper-slide {
		}
}
.title {
}
.swiper {
}
.swiper-wrapper {
	
}
.swiper-slide {
		// .swiper-slide__image
		&__image {
		}

		// .swiper-slide__content

		&__content {
		overflow: hidden;
			display: flex;
			flex-direction: column;
			height: 100%;
			gap: rem(20);
			padding: rem(20);
		}

		// .swiper-slide__title

		&__title {
			font-family: "Comfortaa";
			font-size: rem(25);
			color: $darckColor;
			font-weight: 700;
			@media (max-width:$mobile){
				font-size: rem(20);
			}
		}
		
		// .swiper-slide__text
		
		&__text {
			flex: 1 1 auto;
			font-family: "Comfortaa";
			line-height: math.div(25 , 18);
			@media (max-width:$tablet){
				font-size: rem(16);
			line-height: math.div(20 , 16);
			}
			@media (max-width:$mobile){
				font-size: rem(14);
			line-height: math.div(20 , 14);
			}
		}

		// .swiper-slide__prise

		&__prise {
			margin-top: auto;
			margin-bottom: rem(10);
			span{
				color: $darckColor;
				font-size: rem(23);
				font-weight: 500;
			}
		}
}


//========================================================================================================================================================
.price {
	
	background-color: #fcf0f0;
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .price__container

		&__container {
		}

		&__content{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@include adaptiveValue("row-gap", 50, 40);
		}
		// .price__title

		&__title {
		}

		// .price__table

		&__table {
			font-family: "Oswald";
			background-color: #fff;
			// box-shadow: 0 0 10px 0px #6b6969;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
			border-radius: rem(50);
			font-size: rem(20);
			border-collapse: separate;
			padding-top: rem(25);
			padding-bottom: rem(25);
			padding-left: rem(50);
			padding-right: rem(50);
			border-spacing: rem(15);
			th{
				font-size: rem(25);
				padding-bottom: rem(15);
				color: $darckColor;
				@media (max-width:$mobileSmall){
					font-size: rem(20);
				}
			}
			th:nth-child(2){
				text-align: left;
			}
			td:nth-child(1){
				border-bottom: 1px solid rgba(81, 39, 41, 0.3);
				
			}
			td:not(:last-child){
				padding-right: rem(30);
				span{
					font-weight: 700;
					color: $darckColor;
				}
			}
			td:nth-child(3){
				flex-wrap: nowrap;
					gap: rem(5);
					display: flex;
					justify-content: space-between;
				}	
			td:nth-child(2){
				@media (max-width:$mobile){
					text-align: center;
				}
				}	
			@media (max-width: em(882)){
				border-spacing: rem(15);
				font-size: rem(18);
				img{
					transform: scale(0.8);
				}
			}
			@media (max-width:$mobile){
				font-size: 18px;
				padding: rem(30);
				border-spacing: rem(15);
				span{
					font-size: rem(18);
				}
				img{
					transform: scale(0.8);
				}
			}
			@media (max-width:$mobileSmall){
				font-size: rem(14);
				padding: rem(20) rem(5);
				border-spacing: rem(10);
				border-radius: rem(20);
				span{
					font-size: rem(16);
				}
				img{
					transform: scale(0.7);
				}
			}
		}

		// .price__actions

		&__actions {
		}

		// .price__action

		&__action {
		}
}

//========================================================================================================================================================

.works {
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .works__container

		&__container {
		}
		.block__more{
			font-family: "Oswald";
			margin-top: rem(15);
			display: inline-block;
      background: linear-gradient(to right, currentColor 0%, currentColor 100%) no-repeat;
      background-size: 0 2px; /* Начальная ширина подчеркивания */
      background-position: left bottom;
      transition: background-size 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-size: 100% 2px; /* Конечная ширина подчеркивания при наведении */
			}
		}
		&:active{
			color: #311a1b;
			transform: scale(0.95);
		}
		}
		// .works__title

}
.title {
}
.gallery {
	border-radius: 10px;
		display: grid;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      @media (max-width:$mobileSmall){
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}	
			justify-content: center;
		&__image {
			aspect-ratio: 1 / 1;
			height: 100%;
			width: 100%;
			border: 15px solid #fcf0f0;
			@media (max-width:$mobile){
				border: 10px solid #fcf0f0;
			}
			a{
				object-fit: cover;
			}
			img{
				// border-radius: rem(10);
				transition: all 0.3s ease 0s;
				height: 100%;
				width: 100%;
				@media (any-hover: hover){
					&:hover{
						transform: scale(1.03);
					}
				}
			}

		}

		// .gallery__preview

		&__preview {
		}
}