
.main {
	background: url('../img/main/main-bg.jpg') 50%/ cover no-repeat;
	position: relative;
	@include adaptiveValue("min-height", 750, 530);
	@include adaptiveValue("margin-bottom", 70, 30);
		// .main__container

		&__container {
			display: flex;
			z-index: 500;
		}

		// .main__content

		&__content {
			flex: 0 1 rem(650);
			@include adaptiveValue("padding-top", 270, 130);
			z-index: 5;
			@media (max-width:$mobileSmall){
				margin-bottom: rem(30);
			}
		}

		// .main__title

		&__title {
			font-size: rem(65);
			line-height: math.div(70 , 65);
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: rem(30);
			@media (max-width:$mobile){
				font-size: rem(55);
				line-height: math.div(65 , 55);
			}
			@media (max-width:$mobile){
				font-size: rem(50);
				line-height: math.div(65 , 50);
			}
			@media (max-width: 600px){
				font-size: rem(40);
			}
			@media (max-width:$mobileSmall){
				font-size: rem(30);
				line-height: math.div(40 , 30);
			}
		}
		// .main__text

		&__text {
			font-size: rem(20);
			line-height: math.div(30 , 20);
			// color: #000000;
			color: #fff;
			@media (max-width: em(600)){
					font-size: rem(18);
				
			}
			margin-bottom: rem(30);
		}
		.main {

		// .main__actions

		&__actions {
			display: flex;
			gap: rem(25);
		}

		// .main__action

		&__action {
			img{
				border-radius: 50%;
				transition: all 0.1s ease 0s;
			}
			@media (any-hover: hover){
				&:hover{
					img{
				transform: scale(1.05);
			}
				}
			}
			&:active {
				img{
					transform: scale(0.95);
					box-shadow: 0px 0px 5px 1px #512729;
				}
			}
		}
}
}


//========================================================================================================================================================
.aboutme {
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .aboutme__container

		&__container {
		}

		// .aboutme__title

		&__title {
		}

		// .aboutme__content

		&__content {
			display: flex;
			@include adaptiveValue("column-gap", 100, 10);
			@media (max-width:$mobile){
				flex-direction: column;
				// @include adaptiveValue("row-gap", 100, 10);
				row-gap: rem(30);
			}
		}

		// .aboutme__image

		&__image {
			flex: 0 0 40%;
			// max-height: 650px;
			aspect-ratio: 4/5;
			overflow: hidden;
			border-radius: 30px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 30px;
			}
		}

		// .aboutme__text

		&__text {
			display: flex;
			flex-direction: column;
			padding-top: rem(30);
			// gap: rem(50);
			@include adaptiveValue("gap", 50, 20);
			flex: 1 1 auto;
			min-width: 0;
			// border: 1px solid #512729;
			font-weight: 700;
			@media (max-width:$mobileSmall){
				font-size: rem(16);
			}
		}

		// .aboutme__actions
}

