
.main {
	background: url('../img/main/main-bg.jpg') 50%/ cover no-repeat;
	position: relative;
	@include adaptiveValue("min-height", 750, 530);
		// .main__container

		&__container {
			display: flex;
			z-index: 500;
		}

		// .main__content

		&__content {
			flex: 0 1 rem(650);
			@include adaptiveValue("padding-top", 270, 130);
			z-index: 5;
			@media (max-width:$mobileSmall){
				margin-bottom: rem(30);
			}
		}

		// .main__title

		&__title {
			font-size: rem(65);
			line-height: math.div(70 , 65);
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: rem(30);
			@media (max-width:$mobile){
				font-size: rem(55);
				line-height: math.div(65 , 55);
			}
			@media (max-width:$mobile){
				font-size: rem(50);
				line-height: math.div(65 , 50);
			}
			@media (max-width: 600px){
				font-size: rem(40);
			}
			@media (max-width:$mobileSmall){
				font-size: rem(30);
				line-height: math.div(40 , 30);
			}
		}
		// .main__text

		&__text {
			font-size: rem(20);
			line-height: math.div(30 , 20);
			color: #fff;
			@media (max-width: em(600)){
					font-size: rem(18);
				
			}
			margin-bottom: rem(30);
		}
		.main {

		// .main__actions

		&__actions {
			@media (max-width:$mobileSmall){
				justify-content: center;
			}
		}

		// .main__action

		
}
}


//========================================================================================================================================================
.aboutme {
	background-color: #fcf0f0;
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .aboutme__container

		&__container {
		}

		// .aboutme__title

		&__title {
		}

		// .aboutme__content

		&__content {
			display: flex;
			@include adaptiveValue("column-gap", 100, 10);
			@media (max-width:$mobile){
				flex-direction: column;
				row-gap: rem(30);
			}
		}

		// .aboutme__image

		&__image {
			flex: 0 0 40%;
			aspect-ratio: 4/5;
			overflow: hidden;
			border-radius: 30px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 30px;
			}
		}

		// .aboutme__text

		&__text {
			display: flex;
			flex-direction: column;
			padding-top: rem(30);
			@include adaptiveValue("gap", 50, 20);
			flex: 1 1 auto;
			min-width: 0;
			font-weight: 700;
			@media (max-width:$mobileSmall){
				font-size: rem(16);
			}
		}

		// .aboutme__actions
}

//========================================================================================================================================================
.services {
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .services__container

		&__container {
			
		}

		// .services__title

		&__title {
		}

		// .services__swiper

		&__swiper {
			padding-bottom: 100px;
			padding-left: 15px;
			padding-right: 15px;
		}

		// .services__swiper-wrapper

		&__swiper-wrapper {
			display: flex;
			align-items: stretch;
		}

		// .services__swiper-slide

		&__swiper-slide {
			display: flex;
			flex-direction: column;
			flex: 1 0 auto;
			height: 100%;
		}
}
.title {
}
.swiper {
}
.swiper-wrapper {
	display: flex;
	align-items: stretch;
}
.swiper-slide {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	height: 100%;
		// .swiper-slide__image
		&__image {
			border-radius: 24px 24px 0px 0px;
		}

		// .swiper-slide__content

		&__content {
		overflow: hidden;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			height: 100%;
			gap: rem(20);
			padding: rem(20);
		}

		// .swiper-slide__title

		&__title {
			font-size: rem(25);
			color: $darckColor;
			font-weight: 700;
		}
		
		// .swiper-slide__text
		
		&__text {
			flex: 1 1 auto;
			font-family: "Roboto";
			line-height: math.div(25 , 18);
			@media (max-width:$mobileSmall){
				font-size: rem(16);
				line-height: math.div(22 , 16);
			}
		}

		// .swiper-slide__prise

		&__prise {
			margin-top: auto;
			margin-bottom: rem(10);
			span{
				color: $darckColor;
				font-size: rem(23);
				font-weight: 500;
			}
		}
}


//========================================================================================================================================================
.price {
	
	background-color: #fcf0f0;
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .price__container

		&__container {
		}

		&__content{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@include adaptiveValue("row-gap", 50, 40);
		}
		// .price__title

		&__title {
		}

		// .price__table

		&__table {
			font-family: "Oswald";
			background-color: #fff;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
			border-radius: rem(50);
			font-size: rem(20);
			border-collapse: separate;
			padding-top: rem(25);
			padding-bottom: rem(25);
			padding-left: rem(50);
			padding-right: rem(50);
			border-spacing: rem(15);
			th{
				font-size: rem(25);
				padding-bottom: rem(15);
				color: $darckColor;
				@media (max-width:$mobileSmall){
					font-size: rem(20);
				}
			}
			th:nth-child(2){
				text-align: left;
			}
			td:nth-child(1){
				border-bottom: 1px solid rgba(81, 39, 41, 0.3);
				
			}
			td:not(:last-child){
				padding-right: rem(30);
				span{
					font-weight: 700;
					color: $darckColor;
				}
			}
			td:nth-child(3){
				flex-wrap: nowrap;
					gap: rem(5);
					display: flex;
					justify-content: space-between;
				}	
			td:nth-child(2){
				@media (max-width:$mobile){
					text-align: center;
				}
				}	
			@media (max-width: em(882)){
				border-spacing: rem(15);
				font-size: rem(18);
				img{
					transform: scale(0.8);
				}
			}
			@media (max-width:$mobile){
				font-size: 18px;
				padding: rem(30);
				border-spacing: rem(15);
				span{
					font-size: rem(18);
				}
				img{
					transform: scale(0.8);
				}
			}
			@media (max-width:$mobileSmall){
				font-size: rem(14);
				padding: rem(20) rem(5);
				border-spacing: rem(10);
				border-radius: rem(20);
				span{
					font-size: rem(16);
				}
				img{
					transform: scale(0.7);
				}
			}
		}

		// .price__actions

		&__actions {
		}

		// .price__action

		&__action {
		}
}

//========================================================================================================================================================

.works {
		@include adaptiveValue("padding-top", 90, 30);
		@include adaptiveValue("padding-bottom", 90, 40);
		// .works__container

		&__container {
		}
		.block__more{
			margin-top: rem(15);
		}
		// .works__title

		&__title {
		}
}
.title {
}
.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      @media (max-width:$mobileSmall){
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}	
			justify-content: center;
		&__image {
			aspect-ratio: 1 / 1;
			height: 100%;
			width: 100%;
			border: 15px solid #1b1b1b;
			@media (max-width:$mobile){
				border: 10px solid #1b1b1b;
			}
			a{
				object-fit: cover;
			}
			img{
				height: 100%;
				width: 100%;
			}

		}

		// .gallery__preview

		&__preview {
		}
}
.lg-sub-html{
	display: none;
}
.lg-icon {
	font-size: rem(50) !important;
	@media (max-width:$mobileSmall){
		font-size: rem(25) !important;
	}
}
.lg-next{
	@media (max-width:$mobileSmall){
		right: 0 !important;
	}
}
.lg-prev {
	@media (max-width:$mobileSmall){
		left: 0 !important;
	}
}
.lg-toolbar{
	top: 20px!important;
}


